<!DOCTYPE html>
<html class="login-alone">
<head>
    <title>注册</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href="statics/custom/pass/css/screen.css?v=3.9" media="screen, projection" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="statics/custom/pass/css/base.css?v=3.9">
    <link rel="stylesheet" type="text/css" href="statics/custom/pass/css/register.css?v=3.9">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="statics/common/jquery.ajax.js"></script>
    <script src="statics/common/layer/layer.js"></script>
    <style>
        .red {
            color: red;
        }
    </style>
</head>
<body>
<div class="logina-logo" style="height: 55px">
    <a href="">
        <img src="" height="60" alt="">
    </a>
</div>
<div class="logina-main main clearfix">
    <div class="tab-con">
        <form id="form-login" method="post" action="">
            <div id='login-error' class="error-tip"></div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <th>昵称</th>
                    <td width="245">
                        <input id="nickname" type="text" name="nickname" maxlength="25" placeholder="昵称"
                               autocomplete="off" value="">
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>电子邮箱</th>
                    <td width="245">
                        <input id="email" type="text" name="email" maxlength="40" placeholder="电子邮箱" autocomplete="off"
                               value="">
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>密码</th>
                    <td width="245">
                        <input id="password" type="password" name="password" maxlength="30" placeholder="请输入密码"
                               autocomplete="off">
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>确认密码</th>
                    <td width="245">
                        <input id="rePassword" type="password" name="password" maxlength="30" placeholder="再次输入密码"
                               autocomplete="off">
                    </td>
                    <td>

                    </td>
                </tr>
                <tr id="tr-vcode" style="">
                    <th>验证码</th>
                    <td width="245">
                        <div class="valid">
                            <input id="captcha" maxlength="4" type="text" autocomplete="off" name="vcode">
                            <img class="vcode" src="" width="85" height="35" alt="">
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="find">
                    <th></th>
                    <td>
                        <div>
                            <label class="checkbox" for=""></label>
                            <a href="/login">已有账号，去登录？</a>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <td width="245"><input class="confirm" type="button" value="注  册"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" name="refer" value="site">
        </form>
    </div>
</div>
<div id="footer">
    <div class="copyright"></div>
</div>
<script>
    var flag = false;
    $(function () {
        getCaptcha();
        register();

        $('.vcode').click(function () {
            getCaptcha();
            $('#captcha').val('').focus();
        });

        // 昵称
        $("#nickname").focus().focus(function () {
            removeTip($("#nickname").parent().next());
        }).blur(function () {
            var this_elem = $("#nickname");
            if (!checkParamEmpty(this_elem, this_elem.parent().next())) {
                return false;
            }
            // checkParamIsExisted('nickname', this_elem.val(), this_elem.parent().next());
        });
        // 邮箱
        $('#email').focus(function () {
            removeTip($('#email').parent().next());
        }).blur(function () {
            var this_elem = $('#email');
            if (!checkParamEmpty(this_elem, this_elem.parent().next())) {
                return false;
            }
            var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //正则表达式
            if (!reg.test(this_elem.val())) { //正则验证不通过，格式不对
                redTip(this_elem.parent().next(), '请输入有效的邮箱地址');
                return false;
            }
            checkParamIsExisted('email', this_elem.val(), this_elem.parent().next());
        });
        // 密码
        $('#password').focus(function () {
            removeTip($('#password').parent().next());
        }).blur(function () {
            var this_elem = $('#password');
            if (!checkParamEmpty(this_elem, this_elem.parent().next())) {
                return false;
            }
            if (this_elem.val().length < 6) {
                redTip(this_elem.parent().next(), '密码不能少于六位');
            }
        });
        $('#rePassword').focus(function () {
            removeTip($('#rePassword').parent().next());
        }).blur(function () {
            var this_elem = $('#rePassword');
            if (!checkParamEmpty(this_elem, this_elem.parent().next())) {
                return false;
            }
            if (this_elem.val() !== $('#password').val()) {
                redTip(this_elem.parent().next(), '两次密码不一样');
                return false;
            }
        });
        // 验证码
        $('#captcha').focus(function () {
            removeTip($('#captcha').parent().parent().next());
        }).blur(function () {
            var this_elem = $('#captcha');
            if (!checkParamEmpty(this_elem, this_elem.parent().parent().next())) {
                return false;
            }
        });
    });


    /**
     * 提示
     * @param elem
     * @param message
     */
    function redTip(elem, message) {
        var old_msg = elem.html();
        elem.addClass('red').html(old_msg + ' ' + message);
    }

    /**
     * 验证是否为空
     * @param elem
     * @param tip_elem
     * @returns {boolean}
     */
    function checkParamEmpty(elem, tip_elem) {
        if (elem.val().trim() === '') {
            redTip(tip_elem, '此项不能为空');
            return false;
        }
        return true;
    }

    /**
     * 移除提示
     * @param elem
     */
    function removeTip(elem) {
        elem.removeClass('red').html('');
    }

    /**
     * 验证是否存在
     * @param field
     * @param value
     * @param tip_elem
     */
    function checkParamIsExisted(field, value, tip_elem) {
        $.postJSON('/pass/checkRegister', {field: field, value: value}, function (res) {
            if (parseInt(res.code) === 200) {
                return true;
            } else {
                redTip(tip_elem, (field === 'username' ? '用户名' : '邮箱') + '已存在');
                return false;
            }
        })
    }

    /**
     * 注册
     */
    function register() {
        $('.confirm').click(function () {
            if (flag === true) {
                return;
            }
            flag = true;
            var nickname = $('#nickname').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var captcha = $('#captcha').val();
            var postData = {
                'nickname': nickname,
                'email': email,
                'password': password,
                'captcha': captcha
            };
            var empty = false;
            $.each(postData, function (index, value) {
                if (value.trim() === "") {
                    flag = false;
                    empty = true;
                    return false;
                }
            });
            if (empty === true) {
                return false;
            }
            console.log('342');
            $.postJSON('/pass/register', postData, function (res) {
                if (parseInt(res.code) === 200) {
                    window.location.href = '/';
                } else {
                    tips(res.message);
                    flag = false
                }
            });
        })
    }

    function getCaptcha() {
        $.getJSON('/pass/captcha?time=' + Date.parse(new Date()), [], function (res) {
            if (parseInt(res.code) === 200) {
                $('.vcode').attr('src', res.results.captcha);
            }
        })
    }

    function tips(msg) {
        layer.msg(msg);
    }
</script>
</body>
</html>
