<?php
/**
 * Created by PhpStorm.
 * User: lester
 * Date: 2018/4/28 14:43
 * Desc: Illuminate\Database database setting.
 */

return [
    'driver'    => 'mysql',
    'host'      => 'localhost',
    'database'  => 'db_name',
    'username'  => 'root',
    'password'  => '',
    'charset'   => 'utf8mb4',
    'collation' => 'utf8mb4_unicode_ci',
    'prefix'    => '',
];